.content {
  height: 3em;
  width: calc(100% - 6em);
  padding: 0 3em;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: var(--bg-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1em;
}

.actions > * {
  font-size: var(--font-icons-size-small);
}

@media only screen and (max-width: 780px) {
  .content {
    width: calc(100% - 2em);
    padding: 0 1em;
  }
}
