.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.itemImage {
  height: 220px;
  background: red;
}

.itemTitle {
  flex-grow: 1;
  border: 1px solid green;
}

@media only screen and (max-width: 1200px) {
  .itemImage {
    height: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .item {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .itemImage {
    height: 60px;
    min-width: 60px;
    background: red;
  }
}
