.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.image {
  height: 220px;
  background: red;
}

.title {
  flex-grow: 1;
  border: 1px solid green;
}

@media only screen and (max-width: 1200px) {
  .image {
    height: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .item {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .image {
    display: none;
  }
}
