.content {
  min-height: calc(100% - 6em);
  padding: 3em 12em 0 12em;
}

@media only screen and (max-width: 1200px) {
  .content {
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media only screen and (max-width: 780px) {
  .content {
    padding-right: 5%;
    padding-left: 5%;
  }
}
