.content {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

.article {
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
}

.header time {
  font-size: 0.9em;
  font-weight: 200;
  color: white;
}

.header h1 {
  margin: 0 0 0.25em 0;
  font-size: 2em;
  font-weight: 500;
  line-height: 1.2em;
  color: white;
}

.header h2 {
  margin: 0;
  font-size: 1.1em;
  font-weight: 200;
  color: white;
}

.header span {
  margin: 1em 0 0 0 !important;
}

.share {
  display: none; /* TODO: work on this feature */
  min-width: 5em;
}

@media only screen and (max-width: 1200px) {
  .content {
    padding-left: 0%;
    padding-right: 0%;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  /* TODO: work on this feature */
  .share {
    position: fixed;
    right: 1em;
    bottom: 1em;
    height: 3em;
    width: 3em;
    min-width: 0em;
  }
}
