.content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 1200px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
