.appHeader {
  height: 3em;
  width: inherit;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: var(--bg-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appHeaderActions {
  display: flex;
  align-items: center;
  gap: 1em;
}

.appHeaderActions > * {
  font-size: 2em;
}

.appHeaderActions a:hover {
  color: white;
}

.appFooter {
  display: flex;
  justify-content: space-between;
}

.appContent {
  display: block;
  min-height: calc(100% - 8em);
  width: auto;
  padding-top: 3em;
  padding-right: 13%;
  padding-left: 13%;
}

.appFooter {
  height: 5em;
  width: inherit;
}

.appFooterNav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.appFooterNav > a {
  font-size: 2em;
}

.appFooterNav a:hover {
  color: white;
}

@media only screen and (max-width: 1200px) {
  .appContent {
    padding-right: 9%;
    padding-left: 9%;
  }
}

@media only screen and (max-width: 780px) {
  .appContent {
    padding-right: 5%;
    padding-left: 5%;
  }
}
