.app {
  height: 100%;
  width: 100%;
}

.appHeader {
  height: 3em;
  width: inherit;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: var(--bg-color);
}

.appHeader nav,
.appFooter {
  display: flex;
  justify-content: space-between;
}

.appContent {
  display: block;
  min-height: calc(100% - 8em);
  width: auto;
  padding-top: 3em;
  padding-right: 20%;
  padding-left: 20%;
}

.appFooter {
  height: 5em;
  width: inherit;
}

@media only screen and (max-width: 1200px) {
  .appContent {
    padding-right: 15%;
    padding-left: 15%;
  }
}

@media only screen and (max-width: 992px) {
  .appContent {
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media only screen and (max-width: 768px) {
  .appContent {
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media only screen and (max-width: 600px) {
  .appContent {
    padding-right: 2%;
    padding-left: 2%;
  }
}
