.blog {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.blogItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.blogItemImage {
  height: 220px;
  background: red;
}

.blogItemTitle {
  flex-grow: 1;
  border: 1px solid green;
}

@media only screen and (max-width: 1200px) {
  .blog {
    grid-template-columns: repeat(2, 1fr);
  }

  .blogItemImage {
    height: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .blog {
    grid-template-columns: repeat(1, 1fr);
  }

  .blogItem {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .blogItemImage {
    height: 60px;
    min-width: 60px;
    background: red;
  }
}
