/*************************************************
  Variables
*************************************************/

:root {
  --bg-color: hsl(0, 0%, 11%);
  --bg-light-color: hsl(0, 0%, 25%);
  --bg-error-color: hsl(0deg 73% 78%);
  --bg-info-color: hsl(108deg 73% 78%);
  --bg-warn-color: hsl(62deg 73% 78%);

  --text-default-color: hsl(0, 0%, 100%);
  --text-a-light-color: hsl(199deg, 73%, 78%);
  --text-a-dark-color: hsl(199deg 100% 12%);
  --text-error-color: hsl(0deg 98% 11%);
  --text-info-color: hsl(108deg 98% 11%);
  --text-warn-color: hsl(62deg 98% 11%);

  --separator-color: hsl(0, 0%, 59%);

  --font-family: Poppins, Roboto, Helvetica Neue, sans-serif;
  --font-size: 15px;
  --font-weight: 200;
  --font-strong: 500;
  --font-line-height: 1.6;
  --font-color: var(--text-default-color);

  --font-icons-size-small: 2rem;

  --font-variant-h1: 300 2rem/1.1 var(--font-family);
  --font-variant-h2: 400 1.8rem/1.2 var(--font-family);
  --font-variant-h3: 400 1.6rem/1.3 var(--font-family);
  --font-variant-h4: 500 1.4rem/1.4 var(--font-family);
  --font-variant-h5: 500 1.2rem/1.5 var(--font-family);
  --font-variant-h6: 500 1.2rem/1.6 var(--font-family);

  --font-variant-table-header: 300 1rem/1.1 var(--font-family);
  --font-variant-table-content: 100 0.9rem/1.1 var(--font-family);

  --font-variant-li: 200 1rem/1.8 var(--font-family);
  --font-variant-time: 300 1rem/1 var(--font-family);
}

/*************************************************
  Defaults
*************************************************/

html,
body,
#__next {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--font-line-height);
  color: var(--font-color);
}

/*************************************************
  Headlines
*************************************************/

h1 {
  font: var(--font-variant-h1);
}

h2 {
  font: var(--font-variant-h2);
}

h3 {
  font: var(--font-variant-h3);
}

h4 {
  font: var(--font-variant-h4);
}

h5 {
  font: var(--font-variant-h5);
}

h6 {
  font: var(--font-variant-h6);
}

hr {
  margin: 3em 6em;
  color: var(--separator-color);
}

/*************************************************
  Paragraph
*************************************************/

strong {
  font-weight: var(--font-strong);
}

time {
  font: var(--font-variant-time);
}

pre {
  font-size: 0.9rem;
}

a {
  color: var(--text-a-light-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-color);
}

/*************************************************
  List
*************************************************/

li {
  font: var(--font-variant-li);
}

/*************************************************
  Tables
*************************************************/

.table-wrapper {
  display: flex;
  margin-block-start: 1em;
  margin-block-end: 1em;
  overflow-y: auto;
}

.table-wrapper,
table {
  width: 100%;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 0.5em;
  border: 1px solid var(--separator-color);
  text-align: center;
}

th {
  font: var(--font-variant-table-header);
}

td {
  font: var(--font-variant-table-content);
}

/*************************************************
  Images
*************************************************/

.img-wrapper {
  display: flex;
  justify-content: center;
}

/*************************************************
  Info Box
*************************************************/

blockquote,
.callout {
  margin-block-start: 2em;
  margin-block-end: 2em;
  padding: 0.75em 1.25em;
}

blockquote a {
  color: var(--text-a-light-color);
}

blockquote {
  margin-inline-start: 0;
  margin-inline-end: 0;
  background: var(--bg-light-color);
}

.callout {
  border-left: 0.5em solid;
  border-right: 0.5em solid;
}

.callout a {
  color: var(--text-a-dark-color);
}

/*************************************************
  Content by error type
*************************************************/

.--error {
  background: var(--bg-error-color);
  border-color: var(--text-error-color);
  color: var(--text-error-color);
}

.--info {
  background: var(--bg-info-color);
  border-color: var(--text-info-color);
  color: var(--text-info-color);
}

.--warn {
  background: var(--bg-warn-color);
  border-color: var(--text-warn-color);
  color: var(--text-warn-color);
}
