html,
body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  font-family: Poppins, Roboto, Helvetica Neue, sans-serif;
  background-color: var(--bg-color);
}

/* Explore here the possibility of CSS grid */
#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;

  margin: 0 20%;
}

#__next > header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: 3em;
  z-index: 1;
  align-items: center;
  background-color: var(--bg-color);
}

#__next > main {
  flex: 1;
  padding-top: 2em;
}

@media screen and (max-width: 1200px) {
  #__next {
    width: 70%;

    margin: 0 15%;
  }
}

@media screen and (max-width: 800px) {
  #__next {
    width: 80%;

    margin: 0 10%;
  }
}

h1 {
  font-size: 2em;
  font-weight: 500;
  color: var(--h1-color);
}

h2 {
  font-size: 1.7em;
  font-weight: 400;
  color: var(--h2-color);
}

h3 {
  font-weight: 300;
  color: var(--h3-color);
}

h4 {
  font-weight: 300;
  color: var(--h4-color);
}

h5 {
  font-weight: 300;
  color: var(--h5-color);
}

h6 {
  font-weight: 300;
  color: var(--h6-color);
}

p {
  font-weight: 200;
  color: var(--p-color);
}

a {
  font-weight: 200;
  color: var(--a-color);

  cursor: pointer;
  text-decoration: underline;
}

li {
  font-weight: 200;
  color: var(--p-color);
}

table {
  margin: 2em auto;
}

th,
td {
  padding: 0.5em 0.5em;
  border-bottom: 1px solid var(--p-color);

  text-align: center;
}

th {
  font-weight: 300;
  color: var(--table-head-color);
}

td {
  font-weight: 200;
  color: var(--p-color);
}

/*

 img -> take a look to the sizing - not sure
 img -> center 

 blockquote -> danger, warning, and so on (look Kent C. Dodds)

 br
 em
 strong

 ol
 ul

 table ********* try the one that I'm working on but vertical
 tbale -> fix width + scroll

*/
