@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #325b97;
    --secondary-color: #9cafeb;

    --bg-color: #fff;

    --h1-color: #000;
    --h2-color: #000;
    --h3-color: #000;
    --h4-color: #000;
    --h5-color: #000;
    --h6-color: #000;
    --p-color: #000;

    --a-color: hsl(199, 69%, 67%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: hsl(256, 95.2%, 75.7%);
    --secondary-color: hsl(174, 100%, 42%);

    --bg-color: hsl(0, 0%, 11%);

    --h1-color: hsl(0, 0%, 100%);
    --h2-color: hsl(271, 87%, 90%);
    --h3-color: #fff;
    --h4-color: #fff;
    --h5-color: #fff;
    --h6-color: #fff;
    --p-color: hsl(0, 0%, 100%);

    --a-color: hsl(199, 69%, 67%);
  }
}
